[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = http://github.com/Shougo/neobundle.vim.git
[submodule ".antigen"]
	path = .antigen
	url = http://github.com/zsh-users/antigen.git
