[submodule ".antigen"]
	path = .antigen
	url = https://github.com/zsh-users/antigen.git
[submodule ".zsh/auto-fu.zsh"]
	path = .zsh/auto-fu.zsh
	url = https://github.com/hchbaw/auto-fu.zsh.git
[submodule ".zsh/zsh-bd"]
	path = .zsh/zsh-bd
	url = git@github.com:Tarrasch/zsh-bd.git
[submodule ".zsh/zsh-autosuggestions"]
	path = .zsh/zsh-autosuggestions
	url = git@github.com:tarruda/zsh-autosuggestions.git
[submodule ".vim/bundle/dein"]
	path = .vim/bundle/dein
	url = https://github.com/Shougo/dein.vim.git
